body {
  --max-width: 800px;
  --primary: #ba7176;
  --primary-light: #ab6b72;
  --primary-dark: #643f40;
  --primary-background: #482e2f;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.max-width {
  margin: auto;
  max-width: var(--max-width);
}

/* header */
.header {
  position: relative;
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--primary-background);
  user-select: none;
}

.header-inner {
  margin: auto;
  width: min(100%, var(--max-width));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bar-switch {
  color: lightgray;
  visibility: hidden;
}

.header-bar-switch::before {
  visibility: visible;
}

.header-bar {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.header-bar-group {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
}

.logo {
  width: 40px;
  margin-right: 20px;
}

.navlink {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 6px 8px;
  transition: color 0.2s ease;
}

.navlink:hover {
  color: var(--primary);
}

.search {
  padding: 2px 0;
  border-bottom: 1px solid gray;
  transition: border-color 0.2s ease;
}

.search:hover,
.search:focus-within {
  border-color: white;
}

.search input {
  color: inherit;
  font-size: 14px;
  width: 100px;
  border: none;
  outline: none;
  background: none;
  text-overflow: ellipsis;
  user-select: initial;
}

.language select {
  color: inherit;
  font-size: 14px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.language select option {
  color: initial;
}


/* content */
.content {
  padding: 20px;
}

/* footer */
.footer {
  color: lightgray;
  font-size: 0.9rem;
  padding: 20px;
  background-color: var(--primary-background);
}

.footer-inner {
  margin: auto;
  width: min(100%, var(--max-width));
}

/* mobile */
@media screen and (max-width: 600px) {
  .header-bar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-dark);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .header-bar-switch:checked+.header-bar {
    pointer-events: initial;
    opacity: 1;
  }

  .header-bar-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .header-bar-group>* {
    padding: 8px 16px;
  }

  .mobile-hide {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .desktop-hide {
    display: none;
  }
}